RMQ_PASSWORD=password messagebroker
RMQ_USER=user messagebroker
RMQ_HOST=hostname of messagebroker
RMQ_PORT=port of messagebroker
RMQ_VHOST=vhost of messagebroker
RMQ_QUEUE=queue to process on messagebroker

PSQL_HOST="hostname/servicename of database"
PSQL_PORT="port of database"
PSQL_USER=user of TimescaleDB
PSQL_PASSWORD=password of TimescaleDB
PSQL_DATABASE=dtabase name of TimescaleDB
